html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.link {
  color: rgb(187, 46, 31);
  text-decoration: none;
  font-weight: bold;
}

.meta-data span {
  margin: 10px 0;
  margin-right: 6px;
  color: grey;
}

.meta-data a {
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.post {
  margin: 20px 0;
}

.comment {
  background: rgba(128, 128, 128, 0.1411764705882353);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
